.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .250s;
}
.accordion:hover, .accordion.open{
    background-color: #55569E;
    border-color: #55569E;
}

.accordion .triggerAccordion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    color: #FFF;
}
.accordion .triggerAccordion h2{
    text-align: start;
    margin: 0;
    font-size: 1.5rem;
}
.accordion .triggerAccordion:hover{
    cursor: pointer;
}

.accordion .triggerAccordion::after{
    content: '';
    background-image: url('/assets/img/icons/arrow-top.svg');
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .25s;
}

.accordion.open .triggerAccordion::after{
    transform: rotate(180deg);
}

.accordion .content{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.accordion.open .content{
    display: inline-block;
    max-height: 100%;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}