.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .250s;
}
.accordion:hover, .accordion.open{
    background-color: #55569E;
    border-color: #55569E;
}

.accordion .triggerAccordion{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    color: #FFF;
}
.accordion .triggerAccordion:hover{
    cursor: pointer;
}

.accordion .triggerAccordion::after{
    content: '';
    background-image: url('/assets/img/icons/arrow-top.svg');
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.accordion.open .triggerAccordion::after{
    transform: rotate(180deg);
}

.accordion .content{
    display: none;
}

.accordion.open .content{
    display: block;
}